@page
@model X2R.Insight.Janitor.WebApplication.Pages.Querys.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>_Querys</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="_Querys.TaskId" />
            <div class="form-group">
                <label asp-for="_Querys.Query" class="control-label"></label>
                <input asp-for="_Querys.Query" class="form-control" />
                <span asp-validation-for="_Querys.Query" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_Querys.DateTime_Start" class="control-label"></label>
                <input asp-for="_Querys.DateTime_Start" class="form-control" />
                <span asp-validation-for="_Querys.DateTime_Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_Querys.RecurringSchedule" class="control-label"></label>
                <select asp-for="_Querys.RecurringSchedule" name="RecurringSchedule" class="form-control">
                    <option value="1">Once</option>
                    <option value="2">Multiple</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
